<html>
    <title>
        Login
    </title>
    <head>
    </head>
      <body>
       <div class="row">
        <section>
          <a href="HomePage.html">back to home page</a>
       <h1 class="heading">Forgot Password ?</h1>
       <div class="login-form">
        <form>
        <div class="form">
            <input type="text" placeholder="Enter Register Email address" />
          </div>

        <div class="login-btn">
         <button class="btn" onclick="myFunction()">Submit</button>
        </div>
      </form>
    </div>
  </section>
</div>

</body>
</html>

