<div class="row">
  <section>
    <h1 class="heading">Retailer Registration Form</h1>
    <div class="registration-form">
      <form (ngSubmit)="register()">
        <div class="form">
          <input name = "t1" type="text" placeholder="Enter Name" [(ngModel)]= retailer.name/>
        </div>
        <div class="form">
          <input name= "t2" type="email" placeholder="Enter Email" [(ngModel)]= retailer.email/>
        </div>
        <div class="form">
          <input name = "t3" type="password" placeholder="Enter Password" [(ngModel)]= retailer.password />
        </div>
        <div class="form">
          <input name = "t4" type="number" placeholder="Enter Phone Number" [(ngModel)]= retailer.phoneNo/>
        </div>
        <div class="form">
          <input name = "t5" type="text" placeholder="Enter Address" [(ngModel)]= retailer.address/>
        </div>
        <div class="signup-btn">
          <button class="btn">Sign Up</button>
        </div>
      </form>
    </div>
  </section>
</div>
