<p>cart works!</p>
<div>
  <input type="text" size="40" placeholder="Search.." />
</div>

<div class="btn-group">
  <button>Home Page</button>
  <button>Categories</button>

  <button>Login/SignUp</button>
</div>

<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Shirt</a>
    <a href="#">Pant</a>
    <a href="#">Jeans</a>
  </div>

  <br />
  <div class="productsdisp">
    <h1 style="margin: 110px; text-align: center">
      Product's Images will Display Here
    </h1>
    <p style="align-content: right; margin-left: 850px; font-size: 20px">
      IN TESTING
    </p>
  </div>

  <div class="btn-group">
    <a href="CheckOut.html"> <button>CheckOut</button></a>
    <button>Delete</button>
  </div>
  <br />
  <div class="topproducts">
    <h2 style="text-align: center">Recommendations</h2>
  </div>
</div>
