<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container my-2">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5 my-2">
          <div class="pr-xl-4">
            <h3><span class="badge badge-pill badge-dark"[routerLink]="['/homepage']"><h4>Online Shopping</h4></span></h3> 
            <p>
               We are Best In Class!
            </p>
            <!-- Rights-->
            <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>L&T Infotech</span><span>. </span><span>All Rights Reserved.</span></p>
          </div>
          <br/>
        </div>
        <div class="col-md-4 my-2">
          <h5>Contacts</h5> 
          <dl class="contact-list">
            <dt>Address: Bangalore</dt>
            <dd></dd>
          </dl>
          <dl class="contact-list">
            <dt>email: onlineshopping@yahoo.com</dt>
            <dd><a href="mailto:#"></a></dd>
          </dl>
          <dl class="contact-list">
            <dt>phones: 8878781891</dt>
            <dd><a href="tel:#"></a> <span></span>
            </dd>
          </dl>
        </div>
       <!-- <div class="col-md-4 col-xl-3 my-2">
          <h5>Links</h5>
         <ul class="nav-list">
            <li><a href="#">About Us</a></li>
           <li><button class="btn btn-primary btn-sm my-2" (click)="adminLogin()">Admin Login</button></li>
            <li><button class="btn btn-primary btn-sm my-2" (click)="retailerLogin()">Retailer Login</button></li>
          </ul> 
        </div> -->
      </div>
    </div>
  </footer>
