<footer>
  <div class="row">
    <div class="col">
      <div class="pr-xl-4">
        <h2>Shopping Mania</h2>
        <p>We are Best In Class!</p>
      </div>
      <br />
    </div>
    <div class="col">
      <h4>Rights</h4>
      <p>© 2020</p>
      <p>@Project Gladiator GET-854</p>
      <p>LTI Infotech</p>
    </div>
    <div class="col">
    <!---  <h4>Contacts</h4>
    -->


      <div class="dropdown">
        <button class="dropbtn">Contact Us</button>
        <div class="dropdown-content">
          <a [routerLink]="['/adminsignin']" routerLinkActive="active">Admin</a>
          <a [routerLink]="['/retailersignin']" routerLinkActive="active">Retailer</a>
        </div>
      </div>



      <p>Address: Bangalore</p>
      <h4>email: onlineshopping@yahoo.com</h4>
      <h4>phones: 8878781891</h4>
    </div>
  </div>
</footer>
