<div class="row">
  <section>
    <h1 class="heading">Login Here</h1>
    <div class="login-form">
      <form action="./action.php">
        <div class="form">
          <input type="text" placeholder="Enter Email" />
        </div>
        <div class="form">
          <input type="text" placeholder="Enter Password" />
        </div>
        <div class="login-btn">
          <button class="btn">Login</button>
        </div>
      </form>
    </div>
    <h3>
      <a [routerLink]="['/signup']">Not a Member? Register Here</a>
    </h3>
  </section>
</div>
