<div class="row">
  <section>
    <h1 class="heading">Login Here</h1>
    <div class="login-form">
      <form >
        <div class="simpleform">
          <input type="text" name="t1" placeholder="Enter Email" [(ngModel)] = "login.email" />
        </div>
        <div class="simpleform">
          <input type="text" name ="t2" placeholder="Enter Password" [(ngModel)] = "login.password" />
        </div>
        <div class="login-btn">
          <button type="submit" (click) = "checkLogin()" class="btn">Login</button>
        </div>
      </form>
    </div>
    <h3>
      <a [routerLink]="['/signup']">Not a Member? Register Here</a>
    </h3>
  </section>
</div>
