<div class="row">
  <section>
    <h1 class="heading">Create Account</h1>
    <div class="registration-form">
      <form (ngSubmit)="userRegistration()">
        <div class="form">
          <input name="t1" type="text" placeholder="Enter Name" [(ngModel)]= customer.name/>
        </div>
        <div class="form">
          <input name="t2" type="email" placeholder="Enter Email" [(ngModel)]= customer.email/>
        </div>
        <div class="form">
          <input name="t3" type="password" placeholder="Enter Password" [(ngModel)]= customer.password1/>
        </div>
        <div class="form">
          <input name="t4" type="password" placeholder="Re-enter Password" [(ngModel)]= customer.password2/>
        </div>
        <div class="form">
          <input name="t5" type="date" placeholder="Enter Date Of Birth" [(ngModel)]=customer.dateOfBirth/>
        </div>
        <div class="form">
          <input name="t6" type="number" placeholder="Enter Phone Number" [(ngModel)]=customer.phoneNo />
        </div>
        <div class="form">
          <input name="t7" type="text" placeholder="Enter Address" [(ngModel)]=customer.address/>
        </div>
        <div class="signup-btn"> 
          <button class="btn">Sign Up</button>
        </div>
      </form>
    </div>
    <h3>
      <a [routerLink]="['/login']">Already Have an Account?</a>
    </h3>
  </section>
</div>
