.forsort {
  width: 80%;
  padding: 20px;
  margin-left: 35px;
  margin-bottom: 10px;
  display: flex;
}
.forsort1 {
  width: 50%;
  padding: 10px;
  float: left;
}
.forfilter {
  text-align: left;
}
input[type="text"],
input[type="number"] {
  width: 20%;
  height: 1px;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
}
.getproducts {
  margin: 20px;
  border: white;
}
.row {
  width: 50%;
  color: ;
}
.image {
  width: 100%;
}
.getproducts {
  width: 50%;
  background-color: lightcoral;
  align-content: center;
  text-align: center;
  margin: 20px;
  padding: 40px;
  outline-color: white;
}
button {
  background-color: #ff414f;
  color: white;

  height: 30px;
  width: 130px;
}
