<h2 style="text-align: center"> Available Products</h2>

<app-header></app-header>

<div class="getproducts">
  <div class="row">
    
    <div class="forsort" >
      <strong id="sort"> &nbsp; &nbsp; Sort </strong>
      <label for="Radio1">Descending</label>
    
      <input
        type="radio"
        name="radioButton"
        id="Radio1"
        value="desc"
        (change)="onRadioClick($event)"
        style="padding: 10px; margin: 5px"
      />
      <label for="Radio2">Ascending</label>
      <input
        type="radio"
        name="radioButton"
        id="Radio2"
        value="asc"
        (change)="onRadioClick($event)"
        style="padding: 10px; margin: 5px"
      />
      <button type="button" (click)="onBrandSortClicked()" style="margin: 5px">
        Brand</button
      >&nbsp;
      <button type="button" (click)="onPriceSortClicked()" style="margin: 5px">
        Price
      </button>
    </div>
    </div>
    <div class="forfilter" >
    <strong>&nbsp; &nbsp;Filter</strong>
      
      <input
        type="text"
        name="brand"
        placeholder="Enter Brand Name"
        [(ngModel)]="brand"
      />
      <input
        type="number"
        name="startVal"
        placeholder="Enter Starting Value for price"
        [(ngModel)]="startVal"
      />
      <input
        type="number"
        name="endVal"
        placeholder="Enter Ending Value for price"
        [(ngModel)]="endVal"
      />
      <div id="filterButton">
      <button (click)="onFilterClick()">Filter</button>
      </div>
    </div>
  </div>


<div class="getproducts" *ngFor="let product of products; let i = index">
  <div class="row">
    <div class="image">
      <img
        src="http://localhost:6969/downloads/{{ product.productImage1 }}"
        style="width: 200px; height: 200px; float: left;"
      />
      <div class="describe">
        <span ><h1> <a routerLink="/singleProductDetail" (click)="sendProductId(i)">{{
          product.name
        }}</a></h1> </span>
        <span><h2>Description: {{ product.description }}</h2></span>
        <span><h2>Price: {{ product.price }}</h2></span>
        <span><h2>Brand: {{ product.brand }}</h2> </span>
      </div>
        <div class="gotocart">
          <button
            class="btn addToCart"
            type="button"
            (click)="addToCart(product.productId)"
          >
            Add To Cart
          </button>
      </div>
    </div>
  </div>
  </div>
