.container py-5{

margin-top: 100px;
padding: 100px;   


}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }


input[type=text]{

  height: 20px;

}

.bgz{
  display: flex;
  width: 50%;
  background-color: lightseagreen;
  justify-content: center;
}


