<app-header></app-header>
<div class="container py-5" style="height: 200px; padding-top: 40px;">
    <table border="2px">
        <tr *ngFor =" let cart of userCart">
            <td><img src="{{cart.pImage1}}" style="width:128px;height:128px;"></td>
            <td>{{cart.pName}}</td>
            <td>{{cart.pBrand}}</td>
            <td>{{cart.pPrice}}</td>
            <br>
            <td>{{getTotalValue(cart.pPrice,cart.qty)}}</td>
        </tr>
    </table>

    <strong>Your Total Cart Value is {{totalPrice}}</strong> <br>

    <label for="cars">Choose The Payment Method:</label>
    <select id="payType" name="cars" [(ngModel)]="payType">
      <option value="Card">Debit Card</option>
    </select>
   <!--<input type="submit" value="submit"  placeholder="Enter Payment Type"  [(ngModel)]="payType"> &nbsp; --> <br>

    <div class="col-50" >
        <h3 >Enter Card Details</h3>
        <label for="cname" style="margin:20px">Name on Card</label>  
        <input type="text" id="cname" name="cardname" placeholder="John More Doe">  <br>
        <label for="ccnum" style="margin:20px">card number</label>
        <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444"> <br>
        <label for="expmonth" style="margin:20px">Exp Month</label>
        <input type="text" id="expmonth" name="expmonth" placeholder="September">
        <div class="row">
          <div class="col-50">
            <label for="expyear"style="margin:20px">Exp Year</label>
            <input type="text" id="expyear" name="expyear" placeholder="2018">
          </div>
          <div class="col-50">
            <label for="cvv" style="margin:20px">CVV</label>
            <input type="text" id="cvv" name="cvv" placeholder="352"> 
          </div>
        </div>
      </div>
    <button class="btn btn-warning my-2" (click)="placeOrder()" style="margin:20px">Buy Products</button> &nbsp;
</div>

<app-footer></app-footer>