<app-header></app-header>





<div class="productsdisp">
  <!-- <h2 style="margin: 250px; text-align: center">
    Product's Images will Display Here
  </h2> -->
  <div class="col1"></div>
  <div class="col2">
    <h3>Let's Go Shopping !!!</h3>
    <form (ngSubmit)="userRegistration()">
      <div class="form">
        <input name="t1" type="text" placeholder="Enter Name" [(ngModel)]= customer.name required/>
      </div>
      <div class="form">
        <input name="t2" type="email" placeholder="Enter Email" [(ngModel)]= customer.email required/>
      </div>
      <div class="form">
        <input name="t3" type="password" placeholder="Enter Password"[(ngModel)]= customer.password (keyup)="validatePassword()"/>
      </div>
      <div class="form">
        <input name="t4" type="password" placeholder="Re-enter Password" [(ngModel)]=customer.password2 (keyup)="validatePassword()"/>
      </div>
      <div *ngIf= "!passwordsMatch && customer.password2 && customer.password2.length>0"> Passwords do not match</div>
      <div class="form">
        <input name="t5" type="date" placeholder="Enter Date Of Birth" [(ngModel)]=customer.dateOfBirth required/>
      </div>
      <div class="form">
        <input name="t6" type="tel" placeholder="Enter Phone Number" [(ngModel)]=customer.phoneNo required pattern="^\d{10}$"/>
      </div>
      <div class="form">
        <input name="t7" type="text" placeholder="Enter Address" [(ngModel)]=customer.address />
      </div>
      <div class="signup-btn">
        <button [ngClass]="passwordsMatch==false?'disabled':'btn'" >Sign Up</button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
