<html>
    <title>
        Online Shopping
    </title>
    <head>
        <link rel="stylesheet" href="HomePage.css">
    </head>
        <body>
            <div>
              <center> <input type="text" size="40" placeholder="Search.." ></center> 
            </div>
            <center>
            <div class="btn-group">
           <!----Hello Guys!!! Welcome to the new page.--> 
            <button>Log</button>
            <button>Products</button>
            <button>Compare</button>
            <button>Categories</button>
            <button>Cart</button>
            <button>Login/SignUp</button>
            </div>
            </center>
            <br>
            <div class="productsdisp">
                <h2 style="margin: 250px; text-align: center;">Product's Images will Display Here</h2>
            </div>
            <br>
            <div class="topproducts">
                <h2 style="text-align: center;">Top Products</h2>
            </div>
        </body>
</html>