<html>
  <title>Online Shopping</title>
  <head>
    <script>
      function myFunction1() {
        alert("Please Login First to Compare");
      }
    </script>
  </head>
  <body>
    <div class="search">
      <input type="text" size="40" placeholder="Search.." />
    </div>

    <div class="btn-group">
      <!----Hello Guys!!! Welcome to the new page.-->

      <button>Products</button>
      <button onclick="myFunction1()">Compare</button>

      <a href="Cart.html"><button>Cart</button></a>
      <a href="Login.html"><button>Login/SignUp</button></a>

      <div class="dropdown">
        <button class="dropbtn">Categories</button>
        <div class="dropdown-content">
          <a href="#">Shirt</a>
          <a href="#">Pant</a>
          <a href="#">Jeans</a>
        </div>
      </div>
    </div>

    <br />
    <div class="productsdisp">
      <h2 style="margin: 250px; text-align: center">
        Product's Images will Display Here
      </h2>
    </div>
    <br />
    <div class="topproducts">
      <h2 style="text-align: center">Top Products</h2>
    </div>
  </body>
</html>
