<html>
    <header>
    </header>
    <title>USER Profile Profile</title>
    <head>
    </head>
    <body>
        <div>
        <h2 class="topnav" >My Profile</h2>
        <br>
        <div class="display">
                <h2 style="text-align: center;">display</h2>
           
        </div>
        
        <div class="btn-group">
        <button style="display: block;">
          <h2>User's Details</h2>  
        </button>

        <button style="display: block;" >
           <h2>My Order</h2> 
        </button>

        <button style="display: block;" >
           <h2>Changed Password</h2>
        </button>

        </div>
        </div>
        <div class="footer">
            <h2>Footer</h2>
        </div>

    </body>
</html>