<html>

<body>
    <div>
        <h2 class="topnav" style="color: white; text-align: center; padding-top: 10px; padding-bottom: 10px; ">Add Product</h2>
    </div>
    <div >
        <form (ngSubmit) = "addProduct()" >
            <div class="container">
            <label for="name" style="background-color: lightblue; ">Product Name </label>
            <span><input type="text" id="ProductName" name="ProductName" placeholder="Enter Product Name" [(ngModel)]= product.name></span>
            <br>
            <label for="desp" style="background-color: lightblue;">Product Description </label>
            <span> <input type="text" id="ProductDesp" name="ProductDesp" placeholder="Enter Product Description" [(ngModel)]= product.description></span>
            <br>
            <label for="price" style="background-color: lightblue;">Product Price </label>
            <span><input type="number" id="ProductPrice" name="ProductPrice" placeholder="Enter Product Price" [(ngModel)]= product.price></span>
            <br>
            <label for="brand" style="background-color: lightblue;">Product Brand </label>
            <span><input type="text" id="ProductBrand" name="ProductBrand" placeholder="Enter Product Brand" [(ngModel)]= product.brand></span>
            <br>
            <label for="category" style="background-color: lightblue;">Product Category </label>
            <span><input type="text" id="ProductCategory" name="ProductCategory" placeholder="Enter Product Category" [(ngModel)]= product.category></span>
            <br>
            <label for="quantity" style="background-color: lightblue;">Product Quantity </label>
            <span><input type="number" id="ProductCategory" name="ProductCategory" placeholder="Enter Product Quantity" [(ngModel)]= product.quantity></span>
            <br>
            <label for="image1" style="background-color: lightblue;">Product Image 1</label>
            <span><input type="text" id="ProductImage1" name="ProductImage1" placeholder="Upload Product Image" [(ngModel)]= product.productImage1></span>
            <br>
            <label for="image2" style="background-color: lightblue;">Product Image 2</label>
            <span><input type="text" id="ProductImage2" name="ProductImage2" placeholder="Upload Product Image" [(ngModel)]= product.productImage2></span>
            <br>
            <br>
            <label for="image3" style="background-color: lightblue;">Product Image 3</label>
            <span><input type="text" id="ProductImage3" name="ProductImage3" placeholder="Upload Product Image" [(ngModel)]= product.productImage3></span>
            <br>
            <br>
            <label for="image4" style="background-color: lightblue;">Product Image 4</label>
            <span><input type="text" id="ProductImage4" name="ProductImage4" placeholder="Upload Product Image" [(ngModel)]= product.productImage4></span>
            <br>
            <button type="submit" >Submit</button>
            </div>
        </form>
    </div>
</body>

</html>