<body>
  <div class="product-container">
    <div class="product">
      <div class="sides">
        <div class="front">
          <img src="image1.jpg" />
        </div>
        <div class="back">
          <p>
            Price:
            <br />
            Colour:
            <br />
            Brand:
            <br />
            Reviews:
            <br />
            Stars:
            <br />
            Description:
            <br />
            Certification:
            <br />
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
