<app-header></app-header>

<h2> Welcome {{adminName}}</h2>

<div class="btn-group">
  
  <!-- <a [routerLink]="['/login']" routerLinkActive="active">
    <button>Login/SignUp</button></a
  > -->
  <a [routerLink]="['/addretailer']" routerLinkActive="active">
    <button>Add Retailer</button></a>
  <br />
</div>
<div class="productsdisp">
  <!-- <h2 style="margin: 250px; text-align: center">
    Product's Images will Display Here
  </h2> -->
  <div class="col1"></div>
  <div class="col2">
    <h3>Let's Go Shopping !!!</h3>
  </div>
</div>
<app-footer></app-footer>

