<html>
    <title>Retailer Profile</title>
    <body>
        <div>
        <h2 class="topnav" style="color: white; text-align: center; padding-top: 10px; padding-bottom: 10px; ">Retailer's Profile</h2>
        <div class="header">
            <h2 style="color: white; text-align: center; margin:0.4px;"> Header</h2>
        </div>
        <br>
        <div class="values">
            <div class="btn-group">
                <button ><h2>Add Product</h2></button>
            </div>  
        </div>
        
        <div class="btn-group">
        <button style="display: block;">
          <h2>Retailer's Details</h2>  
        </button>

        <button style="display: block;" >
           <h2>Change Password</h2> 
        </button>

        <button style="display: block;" >
           <h2>Delete Account</h2>
        </button>

        </div>
        </div>
        <div class="footer">
            <h2>Footer</h2>
        </div>

    </body>
</html>