
            <div>
               <input type="text" size="40" placeholder="Search.." >
            </div>
           
            <div class="btn-group">
          
            <a [routerLink]="['/cart']" routerLinkActive="active"><button> Back </button></a>
            <a [routerLink]="['/homepage']"> <button>Home Page</button></a>
            <button>Categories</button>
            <button>Cart</button>
            <button>Login/SignUp</button>
            </div>
            
            <div class="pa">
        <h1> Hey User </h1> 
                Product : <br/>
                Payment Method : <div class="dropdown">
                <button class="dropbtn">Choose Your Payment Option</button>
                <div class="dropdown-content">
                    
                    <a [routerLink]="['/user-placeorder']" routerLinkActive="active">Net Banking</a>
                    <a [routerLink]="['/user-placeorder']" routerLinkActive="active">Credit/DebitCard</a>
                    <a [routerLink]="['/user-placeorder']" routerLinkActive="active">Cash On Delivery</a>
                </div>
                </div>
                 </div>
             <div class="btn-group">
             <button onclick="myFunction()"> Compare </button>
             </div>
          
            
       